should_launch_new_window 1

# Startup commands
startup_commands    toggle_custom_color


# APPEARENCE
font_size 20

## Plugins
new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _extract_highlights python -m sioyek.extract_highlights "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%1" %{zoom_level}

## Custom commands
custom_text_color 0 0 0
custom_background_color    0.92 0.89 0.83
new_macro _set_colorscheme_1 setconfig_custom_background_color(0.92 0.89 0.83);setconfig_custom_text_color(0 0 0)
new_macro _set_colorscheme_2 setconfig_custom_background_color(0.196 0.188 0.184);setconfig_custom_text_color(0.922 0.863 0.706)
new_macro _set_colorscheme_3 setconfig_custom_background_color(0.925 0.9 0.925);setconfig_custom_text_color(0 0 0)
new_macro _set_colorscheme_4 setconfig_custom_background_color(0.18 0.173 0.169);setconfig_custom_text_color(0.80 0.89 0.99)

## Custom color
# custom_background_color              0.141 0.133 0.11
# custom_text_color                    0.831 0.69 0.482
# custom_background_color              0.18 0.20 0.25
# custom_text_color                    1.0 1.0 1.0
# custom_background_color              0.188 0.204 0.275
# custom_text_color                    0.80 0.89 0.99
# custom_background_color              0.18 0.173 0.169

# GruvBox
custom_background_color                  0.92 0.89 0.83
custom_text_color                        0 0 0

# GruvBox
# custom_background_color                0.196 0.188 0.184
# custom_text_color                      0.922 0.863 0.706

# Grey
# custom_background_color                0.196 0.188 0.184
# custom_text_color                      0.922 0.863 0.706

## Status bar
status_bar_font_size    20

# status_bar_color      0.137 0.149 0.204
status_bar_color        0.196 0.188 0.184
status_bar_color        0.235 0.22 0.212
status_bar_text_color   0.922 0.859 0.698

